.profile-thread-button-2{
    margin-left: 70px;

}
.profile-thread-button-2 button{
    border: none;
    background: none;
    color: #959595;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.profile-replies-button-2 button{
    border: none;
    background: none;
    color: white;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.profile-repost-button-2 button{
    border: none;
    background: none;
    color: #959595;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.profile-replies-button-2 button:hover{
    cursor: pointer;
}
.profile-repost-button-2 button:hover{
    cursor: pointer;
}
.profile-thread-button-2 button:hover{
    cursor: pointer;
}

.profile-button-line{
    height: 0.5px;
    width: 575px;
    background-color: #959595;
    margin-top: 15px;
    justify-content: center;
}
.thread-button-line-2{
    height: 2px;
    width: 185px;
    margin-left: 185px;
    background-color: white;
}

.profile-no-replies{
    margin-top: 170px;
    margin-left: 240px;

}
.profile-no-replies p{
    color: #959595;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}